.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  /* background-color: transparent; */
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  /* background-color: red; */
}
.nav {
  background-color: black;
}
.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left ul {
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}
.right ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
